<launch>
  <param name="odometry/tag1/calib/translation/x" value="0" type="double" />
  <param name="odometry/tag1/calib/translation/y" value="0" type="double" />
  <param name="odometry/tag1/calib/translation/z" value="0" type="double" />
  <param name="odometry/tag1/calib/rotation/w" value="1" type="double"/>
  <param name="odometry/tag1/calib/rotation/x" value="0" type="double"/>
  <param name="odometry/tag1/calib/rotation/y" value="0" type="double"/>
  <param name="odometry/tag1/calib/rotation/z" value="0" type="double"/>

  <param name="odometry/tag2/calib/translation/x" value="0" type="double" />
  <param name="odometry/tag2/calib/translation/y" value="0" type="double" />
  <param name="odometry/tag2/calib/translation/z" value="0" type="double" />
  <param name="odometry/tag2/calib/rotation/w" value="1" type="double"/>
  <param name="odometry/tag2/calib/rotation/x" value="0" type="double"/>
  <param name="odometry/tag2/calib/rotation/y" value="0" type="double"/>
  <param name="odometry/tag2/calib/rotation/z" value="0" type="double"/>

  <param name="odometry/tag3/calib/translation/x" value="0.0087" type="double" />
  <param name="odometry/tag3/calib/translation/y" value="0.0504" type="double" />
  <param name="odometry/tag3/calib/translation/z" value="-0.0089" type="double" />
  <param name="odometry/tag3/calib/rotation/w" value="0.0124" type="double"/>
  <param name="odometry/tag3/calib/rotation/x" value="-0.0090" type="double"/>
  <param name="odometry/tag3/calib/rotation/y" value="0.0011" type="double"/>
  <param name="odometry/tag3/calib/rotation/z" value="-0.9999" type="double"/>

  <param name="odometry/tag4/calib/translation/x" value="-0.0095" type="double" /> <!-- 0.0976464787673 -->
  <param name="odometry/tag4/calib/translation/y" value="0.0464" type="double" />
  <param name="odometry/tag4/calib/translation/z" value="-0.0005" type="double" />
  <param name="odometry/tag4/calib/rotation/w" value="0.0038" type="double"/>
  <param name="odometry/tag4/calib/rotation/x" value="0.0395" type="double"/>
  <param name="odometry/tag4/calib/rotation/y" value="-0.0103" type="double"/>
  <param name="odometry/tag4/calib/rotation/z" value="0.9992" type="double"/>

  <param name="odometry/tag5/calib/translation/x" value="0.0190" type="double" /> <!-- 0.0976464787673 -->
  <param name="odometry/tag5/calib/translation/y" value="0.0556" type="double" />
  <param name="odometry/tag5/calib/translation/z" value="0.0007" type="double" />
  <param name="odometry/tag5/calib/rotation/w" value="0.0572" type="double"/>
  <param name="odometry/tag5/calib/rotation/x" value="0.0134" type="double"/>
  <param name="odometry/tag5/calib/rotation/y" value="0.0067" type="double"/>
  <param name="odometry/tag5/calib/rotation/z" value="-0.9982" type="double"/>

  <param name="odometry/tag6/calib/translation/x" value="0.0020" type="double" /> <!-- 0.0976464787673 -->
  <param name="odometry/tag6/calib/translation/y" value="0.0427" type="double" />
  <param name="odometry/tag6/calib/translation/z" value="0.0003" type="double" />
  <param name="odometry/tag6/calib/rotation/w" value="0.0121" type="double"/>
  <param name="odometry/tag6/calib/rotation/x" value="-0.0286" type="double"/>
  <param name="odometry/tag6/calib/rotation/y" value="-0.0034" type="double"/>
  <param name="odometry/tag6/calib/rotation/z" value="-0.9995" type="double"/>

  <!--<param name="odometry/tag3/calib/translation/x" value="0.0504" type="double" />-->
  <!--<param name="odometry/tag3/calib/translation/y" value="-0.0140" type="double" />-->
  <!--<param name="odometry/tag3/calib/translation/z" value="0.0250" type="double" />-->
  <!--<param name="odometry/tag3/calib/rotation/w" value="1" type="double"/>-->
  <!--<param name="odometry/tag3/calib/rotation/x" value="0" type="double"/>-->
  <!--<param name="odometry/tag3/calib/rotation/y" value="0" type="double"/>-->
  <!--<param name="odometry/tag3/calib/rotation/z" value="0" type="double"/>-->

  <!--<param name="odometry/tag4/calib/translation/x" value="-0.0326" type="double" />-->
  <!--<param name="odometry/tag4/calib/translation/y" value="-0.0535" type="double" />-->
  <!--<param name="odometry/tag4/calib/translation/z" value="0.2071" type="double" />-->
  <!--<param name="odometry/tag4/calib/rotation/w" value="1" type="double"/>-->
  <!--<param name="odometry/tag4/calib/rotation/x" value="0" type="double"/>-->
  <!--<param name="odometry/tag4/calib/rotation/y" value="0" type="double"/>-->
  <!--<param name="odometry/tag4/calib/rotation/z" value="0" type="double"/>-->

  <!--<param name="odometry/tag5/calib/translation/x" value="0.2919" type="double" />-->
  <!--<param name="odometry/tag5/calib/translation/y" value="0.1158" type="double" />-->
  <!--<param name="odometry/tag5/calib/translation/z" value="-0.0232" type="double" />-->
  <!--<param name="odometry/tag5/calib/rotation/w" value="1" type="double"/>-->
  <!--<param name="odometry/tag5/calib/rotation/x" value="0" type="double"/>-->
  <!--<param name="odometry/tag5/calib/rotation/y" value="0" type="double"/>-->
  <!--<param name="odometry/tag5/calib/rotation/z" value="0" type="double"/>-->

  <!--<param name="odometry/tag6/calib/translation/x" value="0.0549" type="double" />-->
  <!--<param name="odometry/tag6/calib/translation/y" value="-0.0088" type="double" />-->
  <!--<param name="odometry/tag6/calib/translation/z" value="0.0991" type="double" />-->
  <!--<param name="odometry/tag6/calib/rotation/w" value="1" type="double"/>-->
  <!--<param name="odometry/tag6/calib/rotation/x" value="0" type="double"/>-->
  <!--<param name="odometry/tag6/calib/rotation/y" value="0" type="double"/>-->
  <!--<param name="odometry/tag6/calib/rotation/z" value="0" type="double"/>-->

  <node pkg="odometry" type="odometry_node" name="odometry" output="screen" />
  <node pkg="odometry" type="ts_location_estimator" name="ts_location_estimator" output="screen" />
  <node pkg="odometry" type="ts_location_publisher" name="ts_location_publisher" output="screen" />
</launch>
