[submodule "vicon_bridge"]
	path = vicon_bridge
	url = https://github.com/ethz-asl/vicon_bridge
[submodule "hummingbird_firmware/BLHeli"]
	path = hummingbird_firmware/BLHeli
	url = https://github.com/utiasSTARS/BLHeli
