<!-- The launch files for the simulated robot -->

<launch>
    <arg name="gui" default="true"/>

    <!-- Launches april tag detection -->
    <include file="$(find apriltags2_ros)/launch/continuous_pose_detection.launch">
        <arg name="camera_name" default="realsense/camera/color"/>
        <arg name="camera_frame" default="camera"/>
        <arg name="image_topic" default="image_raw"/>
    </include>

    <include file="$(find static_tf_publisher)/launch/static_tf_publisher.launch">
        <arg name="transformations_file" value="$(find static_tf_publisher)/config/simulation/transformations.yaml" />
    </include>

    <!-- Launches odometry and tf publishers -->
    <include file="$(find hummingbird_odometry)/launch/odometry.launch">
    </include>

    <!-- Launches the simulation -->
    <include file="$(find hummingbird_px4)/launch/mavros_posix_sitl.launch">
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <!-- Launches the display -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hummingbird)/rviz/hummingbird.rviz"/>

</launch>