<launch>
    <!-- Launches april tag detection -->
    <include file="$(find apriltags2_ros)/launch/continuous_pose_detection.launch">
        <remap from="/camera/color" to="/realsense/camera/color" />
    </include>

    <!-- Launches odomtery and tf publishers -->
    <include file="$(find odometry)/launch/odometry.launch" />

    <!-- Launches the display -->
    <node pkg="rviz" type="rviz" name="rviz"/>

    <!-- Launches the simulation -->
    <include file="$(find px4)/launch/mavros_posix_sitl.launch">
        <remap from="/realsense/camera/color/image_rect_raw" to="/realsense/camera/color/image_raw" />
    </include>
</launch>