<!-- The real launch files for the robot -->
<launch>

    <!--wifly :14551 <-> :14556 -->
    <!--expressif :14552 <-> :14555 -->
    <arg name="wifly_fcu_url" default="udp://:14551@192.168.1.214:14556" />
    <arg name="expressif_fcu_url" default="udp://:14552@192.168.1.126:14555" /> 
    <arg name="gcs_url" default="udp://@localhost" />

    <!-- launch vicon -->
    <node pkg="vicon_bridge" type="vicon_bridge" name="vicon" output="screen">
        <param name="stream_mode" value="ClientPull" type="str" />
        <param name="datastream_hostport" value="192.168.2.120:801" type="str" />
        <param name="tf_ref_frame_id" value="/world" type="str" />
    </node>

    <remap from="/mavros/mocap/pose" to="/mavros/mocap/pose" />
    <node pkg="hummingbird_vicon" type="hummingbird_vicon_node" name="hummingbird_vicon_node" output="screen">
    </node>

    <node pkg="joy" type="joy_node" name="joy" />
    <node pkg="hummingbird_joy" type="main.py" name="hummingbird_joy" output="screen">
        <param name="command_service" value="/mavros/cmd/command_int" />
    </node>

    <!-- launch static tranforms -->
    <include file="$(find static_tf_publisher)/launch/static_tf_publisher.launch">
        <arg name="transformations_file" value="$(find static_tf_publisher)/config/camera_test/transformations.yaml" />
    </include>

    <!-- Launches the connection to mavros -->
    <include file="$(find hummingbird_px4)/launch/mavros.launch">
        <arg name="output" default="screen" />
        <arg name="fcu_url" default="$(arg expressif_fcu_url)" />
        <arg name="gcs_url" default=""/>
        <arg name="fcu_protocol" default="v2.0" />
        <arg name="tgt_system" default="1"/>
        <arg name="tgt_component" default="1"/>
        <arg name="config_yaml" default="$(find hummingbird)/config/mavros/vicon.yaml" />
    </include>

    <node name="tf_to_posestamped_node" pkg="tf_to_posestamped" type="tf_to_posestamped_node">
        <param name="pose_output_topic" value="parter_pose" />
        <param name="parent_frame_id" value="world" />
        <param name="child_frame_id" value="partner" />
    </node>

    <!-- Launches odometry and tf publishers -->
    <include file="$(find hummingbird_odometry)/launch/odometry.launch">
        <arg name="baselink_frame" default="COM" />
        <arg name="imu_frame" default="COM" /> <!-- assuming imu is aproximately at COM -->
    </include>

    <!-- Launches the display -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hummingbird)/rviz/hummingbird.rviz"/>

</launch>
