<robot name="sootball" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="PI" value="3.1415926535897931"/>

    <xacro:include filename="$(find hummingbird_sitl_gazebo)/models/hummingbird/hummingbird_body.xacro"/>

    <xacro:include filename="$(find hummingbird_sitl_gazebo)/models/hummingbird/hummingbird.gazebo" />

    <xacro:include filename="$(find hummingbird_sitl_gazebo)/models/hummingbird/components/imu.xacro"/>
    <xacro:include filename="$(find hummingbird_sitl_gazebo)/models/hummingbird/components/camera.xacro"/>

    <imu parent="base_link" name="imu_link">
        <origin xyz="0 0 0.357" rpy="0 0 0"/>
    </imu>

    <camera parent="base_link" name="camera_link">
        <origin xyz="0 0 0.38" rpy="0 0 0"/>
    </camera>

</robot>
