<launch>
    <arg name="launch_prefix" default=""/>
    <arg name="node_namespace" default="apriltags2_ros"/>
    <arg name="camera_name" default="/camera/color"/>
    <arg name="camera_frame" default="camera"/>
    <arg name="image_topic" default="image_raw"/>
    <arg name="tag_settings_file" default="$(find apriltags2_ros)/config/simulation/settings.yaml" />
    <arg name="tag_definitions_file" default="$(find apriltags2_ros)/config/simulation/tags.yaml" />

    <!-- Set parameters -->
    <rosparam command="load" file="$(arg tag_settings_file)"/>
    <rosparam command="load" file="$(arg tag_definitions_file)"/>

    <param name="apriltags2_ros/publish_tag_detections_image" type="bool" value="true"/>
    <param name="apriltags2_ros/camera_frame" type="str" value="$(arg camera_frame)"/>

    <!-- 3D Pose Topic -->
    <node pkg="apriltags2_ros" type="continuous_pose_detector_node" name="continuous_pose_detector_node"
          clear_params="false" output="screen" launch-prefix="$(arg launch_prefix)">
        <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)"/>
        <remap from="camera_info" to="$(arg camera_name)/camera_info"/>
    </node>

    <include file="$(find apriltags2_ros)/launch/continuous_detection.launch">
        <arg name="node_namespace" value="$(arg node_namespace)"/>
        <arg name="camera_name" value="$(arg camera_name)"/>
        <arg name="camera_frame" value="$(arg camera_frame)"/>
        <arg name="image_topic" value="$(arg image_topic)"/>
    </include>

</launch>
