<!-- This launch file is meant to be used on the odroid. It brings up no GUIs -->
<launch>

  <!-- Publishes camera topics -->
  <include file="$(find realsense_camera)/launch/r200_nodelet_modify_params.launch">
    <arg name="enable_depth" default="false" />
    <arg name="color_width" default="640" />
    <arg name="color_height" default="480" />
  </include>

  <!-- Launches april tag detection -->
  <include file="$(find apriltags2_ros)/launch/continuous_pose_detection.launch">
    <arg name="camera_name" default="/camera/color"/>
    <arg name="camera_frame" default="camera"/>
    <arg name="image_topic" default="image_raw"/>
    <arg name="tag_settings_file" default="$(find apriltags2_ros)/config/camera_test/settings.yaml" />
    <arg name="tag_definitions_file" default="$(find apriltags2_ros)/config/camera_test/tags.yaml" />
  </include>

  <include file="$(find static_tf_publisher)/launch/static_tf_publisher.launch">
    <arg name="transformations_file" value="$(find static_tf_publisher)/config/camera_test/transformations.yaml" />
  </include>


</launch>
